 {
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  
  "rules": {
    "strict": 0,
    "indent": ["error", 2],
    "semi": ["error", "never"]
  }
}
